.movies{
  margin-top: 16px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.movie__item{
  margin: 12px;
  height: 100px;
  background-color: rgba(75, 75, 75, 0.37);
  border-radius: 8px;
  display: flex;
  width: 700px;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}

.movie__item button{
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-duration: .5s;
}

.movie__item button:hover{
  transform: scale(1.3);
}

@media (max-width: 780px) {
  .movie__item{
    width: 400px;
  }
}


@media (max-width: 430px) {
  .movie__item{
    width: 250px;
  }

  .movies{
    margin-top: 50px;
  }
}